[Unit]
Description=Salahtime Celery Beat Scheduler
Documentation=https://docs.celeryq.dev
After=network.target redis-server.service celery-worker.service
Wants=redis-server.service

[Service]
Type=forking
User=mdraselbackenddev
Group=mdraselbackenddev
WorkingDirectory=/home/mdraselbackenddev/Rasel/zuhha/salahtime

Environment="PATH=/home/mdraselbackenddev/Rasel/zuhha/.venv/bin"
Environment="PYTHONUNBUFFERED=1"
Environment="DJANGO_SETTINGS_MODULE=config.settings"

ExecStart=/home/mdraselbackenddev/Rasel/zuhha/.venv/bin/celery \
    -A config beat \
    --loglevel=info \
    --scheduler django_celery_beat.schedulers:DatabaseScheduler \
    --logfile=/home/mdraselbackenddev/Rasel/zuhha/salahtime/logs/celery_beat.log \
    --pidfile=/tmp/celery_beat.pid \
    --detach

ExecStop=/bin/kill -s TERM $(/bin/cat /tmp/celery_beat.pid)

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
